html,body{
    width:100%;
    height:100%;
}
body{
    display: flex;
    /*background-image: url('../resource/background.jpg');*/
    background-image: linear-gradient(120deg,#3498db,#8e44ad);
    align-content: center;
    justify-content: center;
}

.tit {
    color: whitesmoke;
    font-size: larger;
    margin-top: 50px;
}

.container {
    margin-top: 50px;
    display: flex;
    width: 400px;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 0 solid;
    color: whitesmoke;
}

form{
    height:56%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}


input{
    align-items: center;
    outline: none;
}



input {
    width: 250px;
    height: 40px;
    border-radius: 1px;
    background: none;
    border:none;
    border-bottom: 2px solid gray;
    outline: none;
}

input ::before{
    content:attr(data-placeholder);
    color:#adadad;
}

input ::after{
    content:'';
    color:#adadad;
}

#btn_login {
    height: 40px;
    width: 250px;
    text-align: center;
    background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size:200%;
    color: whitesmoke;
    border-radius: 5px;
    border:2px;
    border-color: gainsboro;
    font-size: medium;
    font-family: sans-serif;
    transition: 0.5s;

}


#btn_mlogin {
    height: 40px;
    width: 250px;
    text-align: center;
    background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size:200%;
    color: whitesmoke;
    border-radius: 5px;
    border:2px;
    border-color: gainsboro;
    font-size: medium;
    font-family: sans-serif;
    transition: 0.5s;

}

#btn_register {
    height: 40px;
    width: 250px;
    text-align: center;
    background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size:200%;
    color: whitesmoke;
    border-radius: 5px;
    border:2px;
    border-color: gainsboro;
    font-size: medium;
    font-family: sans-serif;
    transition: 0.5s;
}

#btn_login:hover{
    background-position: right;
}

#btn_mlogin:hover{
    background-position: right;
}

#go_to_register{
    height: 40px;
    width: 250px;
    text-align: center;
    background:linear-gradient(120deg,#3498db,#8e44ad,#3498db);
    background-size:200%;
    color: whitesmoke;
    border-radius: 5px;
    border:2px;
    border-color: gainsboro;
    font-size: medium;
    font-family: sans-serif;
    transition: 0.5s;
}